*{
    box-sizing: border-box;
}
body{
    background: url("forest.jpg") no-repeat center center/cover;
    height: 100vh;
}
.button{
    position: fixed;
    left: 0;
    bottom: 0;
    border: 2px solid #fff;
    border-radius: 10px;
    background: transparent;
    color: #fff;
    font-weight: 400;
    margin: 5%;
    font-size: 2rem;
    width: 350px;
    text-align: center;
    transition: .5s;
}

.button:hover{
    background: #fff;
    color: #000;
}

.container{
    background-color: #fff;
    position: absolute;
    top : -20%;
    left : 50%;
    display: flex;
    font-size: 2rem;
    padding: 0 3px 0 10px;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    transition: .4s;
}

.container.open{
    transform: translateY(450%);
}
.container .close-btn{
    color: red;
    font-size: 3rem;
    cursor: pointer;
}
