body{
    background: url('timer.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background: #fff;
    width: 40%;
    height: 250px;
    text-align: center;
    border-radius: 30px;
}

.timer{
    font-size: 72px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.buttons button{
    border: none;
    margin: 0 10px;
    color: #fff;
    cursor: pointer;
}

button i{
    padding: 10px;
    font-size: 2rem;
    width: 50px;
}

#play{
    background: green;
}
#pause{
    background-color: orange;
}
#reset{
    background: red;
}